@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;600&family=Exo+2:ital,wght@0,100;0,700;1,100;1,200;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    font-family: "Cairo" "Poppins""Exo 2" sans-serif;
    border: 1px solid rgba(0, 0, 0, 0);
}
.conteiner{
    height: 10vh;
    width: 75px;
    margin: 0;
    /* background: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    /* border: 2px solid red; */
}

ul li{
    list-style:none ;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding-bottom:50px ;
    transform: translateY(-500px);
    opacity: 0;
    /* transicion/animacion */
    transition: transform 0.6s ease;
}
input{
    display: none;
}

label{
position: fixed;
top: 5px;
left: 20px;
cursor: pointer;
z-index: 99;
/* Transicion/animacion */
transition: 0.3s ease;
}
label>div{
    height: 5px;
    width: 35px;
    background: white;
    margin: 5px;
    /* Transicion/animacion */
    transition: 0.3s ease;
} 
label:hover > div{
    background-color: red;
}
#toggle-nav:checked ~ .conteiner{
    height: 100vh;
    width: 150px;
    background: rgba(255, 255, 255, 0.761);
    z-index: 1;
}
#toggle-nav:checked~ label{
    left: 100px;
}
#toggle-nav:checked ~ .conteiner ul li {
    transform: translateY(0);
    opacity: 1;
}
/* x con menu */
#toggle-nav:checked~ label>div:nth-child(1){
    transform: rotate(45deg);
    margin-top: 18px;
}
#toggle-nav:checked~label>div:nth-child(2){
    opacity: 0;
}
#toggle-nav:checked~label>div:nth-child(3){
    transform: rotate(-45deg);
    margin-top: -20px;
}

/* transiciones */



/* header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 100px;
    background: black;
    box-shadow: 2px 3px 4px black;
    margin-bottom: 50px;
}
.logo {
    height: 60%;
}
.logo:hover {
    transform: scale(110%);
    transition-duration: 0.2s;
}
.nav-list {
    display: flex;
    list-style: none;
    gap: 10px;
}
.nav-item{
    color: black;
    background:white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.1rem;
}
.nav-item-t{
    color: rgb(255, 255, 255);
    background:rgb(255, 0, 0);
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-cont:hover {
    transform: scale(105%);
    transition-duration: 0.3s;
} */
/* navbar */
/* main */


.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    background:url(./img/stock-photo-a-man-cleaning-car-with-cloth-car-detailing-or-valeting-concept-selective-focus-1681005784.jpg) no-repeat center/cover ;
    height: 400px;
    width: 90%;
    border-radius: 15px;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.container h1{
    font-size: 2.6rem;
    margin: 40px 15px 40px 15px;
    padding: 5px;
    color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.299);
    color: white;
    border-radius: 10px;
}


.container p{
    font-size: 1.5rem;
   
    width: 90%;
    max-width: 600px;
    padding: 0 0 15px 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.299);
}

.cont-btn{
    display: flex;

    padding: 5px;
    gap: 15px;
}


.btn{
    padding: 5px;
    display: flex;
    background:rgba(0, 0, 0, 0.299) ;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}


.btn:hover {
    transform: scale(105%);
    transition-duration: 0.3s;
}